{% extends "profile.html" %}

{% block main %}
{% load static %}
<div class="">
    <div class="profile" style="margin-bottom: 2.0rem;">
        <h1>Order Detail</h1>
    </div>
    <div class="row ">
        <div class="col-sm-7">
            <h3 style="border-bottom: thick grey dotted; padding-bottom: 0.5rem;">{{ id }}</h3>
            <p><b>CUSTOMER:</b> {{ order_customer }}</p>
            <p><b>VENDOR:</b> {{ order_vendor }}</p>
            <div class="row">
                <div class="col-sm-4">
                    <div>
                        <p><b>Due Date: </b><br>{{ due_date }}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <p><b>Status: </b><br>{{ order_status }}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <p><b>Total Cost: </b><br>NGN {{ total_order_cost }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div>
                        <p><b>Amount Paid: </b><br>NGN {{ amount_paid }}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <p><b>Outstanding: </b><br>NGN {{ outstanding }}</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div>
                        <p><b>Payment Status: </b><br>{{ payment_status }}</p>
                    </div>
                </div>
            </div>
            {% for item in order_items %}
            <div class="row container" 
                style="border-bottom: thin grey solid; background-color: beige; padding-top: 0.5rem;">
                <div class="col-sm-2">
                    <img src="{% static 'icons/location-food.svg' %}" />
                </div>
                <div class="col-sm-10">
                    <h5><a href="/orders/{{id}}/items/{{item.id}}/">{{ item.id }}</a></h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <div>
                                <p><b>Quantity: </b><br>{{ item.quantity }}</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <p><b>Order Cost: </b><br>{{ item.order_cost }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <li>No item in the order yet.</li>
            {% endfor %}
        </div>
        <div class="col-sm-5" style="margin-bottom: 0.5rem;">
            {% if user.is_vendor %}
            <h4>Choose next phase</h4>
            <form class="button-form" action="/orders/{{id}}/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label ">
                      Next phase becomes the new status:
                    </label>
                    <select id="order_status" class="form-control" name="order_status">
                          <option value="RECEIVED">Accept Order</option>
                          <option value="PROCESSING">Start Processing Order</option>
                          <option value="READY">Order Ready</option>
                          <option value="DELIVERED">Order Delivered</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="submit" value="Update" />
                    </div>
                </div>
            </form>
            {% else %}
            {% if order_status == 'OPEN' %}
            <h4>Add Menu Item</h4>
            <form action="/orders/{{id}}/" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label ">Pick a menu item:</label>
                    <select id="item" class="form-control" name="item" required>
                        {% for menu in menus %}
                          <option value="{{menu.id}}">{{menu.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="quantity" class="control-label">Quantity:</label>
                    <div class="">
                        <input class="form-control" id="quantity" type="number" name="quantity" min="1" value="1" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="">
                        <input type="submit" value="Add Item" />
                    </div>
                </div>
            </form>
            {% endif %}
            <div>
                <hr />
                <h4>Proceed to checkout</h4>
                <form action="/orders/{{id}}/checkout/" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="amount_paid" class="control-label">Enter Amount:</label>
                        <div class="">
                            <input class="form-control" id="amount_paid" type="text" name="amount_paid" value={{outstanding}} required />
                        </div>
                    </div>    
                    <div class="form-group">
                        <div class="">
                            <input type="submit" value="Proceed" />
                        </div>
                    </div>
                </form>
            </div>
            <h4>Cancel or Delete Order</h4>
            <form class="button-form" action="/orders/delete/{{id}}/" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger">Cancel Order</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock main %}